<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1> Welcome to FSD</h1>
<ol>
	<li>Audi</li>
	<li>BMW</li>
	<li>Merc</li>
</ol>

<table border="1">
	<tr>
		<th>Tno</th>
		<th>Tname</th>
		<th>Salary</th>
		<th>Age</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Alice</td>
		<td>800</td>
		<td>34</td>
	</tr>
	<tr>
		<td>1</td>
		<td>Alice</td>
		<td>800</td>
		<td>34</td>
	</tr>
	<tr>
		<td>1</td>
		<td>Alice</td>
		<td>800</td>
		<td>34</td>
	</tr>
</table>
</body>
</html>