<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p> Teacher Number <span th:text="${teacher1.tno}" ></span> </p>
<p> Teacher Name <span th:text="${teacher1.tname}" ></span> </p>
<p> Teacher Salary <span th:text="${teacher1.sal}" ></span> </p>
<p> Teacher Age <span th:text="${teacher1.age}" ></span> </p>


<p> Player name <span th:text="${player}" ></span> </p>

<ol>
	<li>Audi</li>
	<li>BMW</li>
	<li>Merc</li>
</ol>

<table border="1">
	<tr>
		<th>Tno</th>
		<th>Tname</th>
		<th>Salary</th>
		<th>Age</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Alice</td>
		<td>800</td>
		<td>34</td>
	</tr>
	<tr>
		<td>1</td>
		<td>Alice</td>
		<td>800</td>
		<td>34</td>
	</tr>
	<tr>
		<td>1</td>
		<td>Alice</td>
		<td>800</td>
		<td>34</td>
	</tr>
</table>
</body>
</html>